<html>
<h1> Fruits </h1>
<table border=0> 
<% fruits.map((fruit)=>{ %> 
   <tr>
   		<td><%= fruit %><td>
   		<td><img src="./images/<%= fruit %>.jpg" height="100px" ></td>
   </tr>
<% }); %> 
</table>
</html>